/*ALL*/
body{
	font: 15px/1.5 'Brother Deluxe', Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #FDFDFD;
	height: 400px;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.btn{
	display: inline-block;
	text-decoration: none;
	padding: 1em 2em;
	margin: .5em 0;
	border-radius: 10px;
}

.btn:hover{
	color: #333;
}


/*NAVBAR*/

.wrapper{
	text-align: center;
	width: 75%;
	margin: auto;
}

/*SHOWCASE*/

#showcase{
	height: 450px;
}

#showcase .background{
	position: absolute;
	height: inherit;
	width: 100%;
	background: #333 url(../img/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	opacity: .4;
}

#main-body{
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	color: white;
	width: 50%;
	margin: auto;
	display: grid;
}

#main-body h1,
#main-body p{
	margin: auto;
}


/*FOOTER*/

footer{
	margin-top: 30px;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr 1fr;
}

#footer > div{
	background-color: #333;
	padding: 1em;
	height: 25%;
}

.box{
	text-align: center;
	padding: 1em;
}

.box h1{
	color: #686767;
}

.box p{
	color: #898989;
}